// Header navigation bar layout (always shown)
.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white; /* Change as needed */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adds a slight shadow */
    z-index: 1000;
    padding: 10px 0px;
    border-top: none;
}

// Overwriting styles
body {
    padding-top: 80px; /* Adjust based on header height */
}

/* Apply to all section headings or elements with IDs */
/* Avoid sections/pages' top being hidden behind the header when following links */
:target {
    scroll-margin-top: 80px; /* Adjust based on header height */
  }
  

// Center the menu icon
.site-nav {
    @include media-query($on-palm) {
        top: 17px;
    }
}

.nav-logo-title-container {
    display: left;
    align-items: center;
    justify-content: center;
    padding-top: 0px;

    @include media-query($on-palm) {
        flex-wrap: wrap; /* Allow the logo and title to wrap */
    }
}

.nav-logo {
    order: 1;
    float: left;
    margin-right: 10px;
    padding-top: 7px;
}

.site-title{
    @include media-query($on-palm) {
        font-size: 1.3rem; /* Reduce font size for smaller screens */
    }
}


/* For smaller screens where the navigation and logo get too close */
@media (max-width: 1024px) {
  
    /* Make the navigation links stack vertically in the dropdown */
    .trigger {
      display: none; /* Hide the menu by default */
    }
  
    .nav-trigger:checked + label + .trigger {
      display: block; /* Show the dropdown when the checkbox is checked */
    }
  
    .nav-trigger {
      display: none; /* Hide the checkbox */
    }
  
  }